doctype html
html
  head
    title Progress Monitor
    link(rel='stylesheet', href='/stylesheets/core.css')
    link(rel='stylesheet', href='/stylesheets/task.css')
    script(src='/javascripts/jquery-3.2.1.js')
    script(src='/javascripts/q-client.js')
    script(src='/javascripts/dashboard.js')
  body
    div.Pane#openTaskPane
      div.Header 
        span#txtOpenTaskCount 0
        span 
        span Open Tasks
      div.Content
        div.TaskList#lstOpenTasks

    div.Pane#closedTaskPane
      div.Header
        span#txtClosedTaskCount 0
        span 
        span Closed Tasks
      div.Content
        div.TaskList#lstClosedTasks


