body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin: 0;
  font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 300;
  font-size: 13px;
  align-items: center;
}

div.Pane {
  width: 100%;
  box-sizing: border-box;
}

div.Pane div.Header {
  font-weight: 500;
  font-size: 0.8em;
  color: #999;
  background: #F5F5F5;
  padding: 3px 10px;
  box-sizing: border-box;
}

