.detail {
  padding: 20px;
  box-sizing: border-box;
}

.detail .taskName {
  font-weight: 600;
}

.detail .taskId {
  font-size: 0.8em;
  color: #999;
  padding: 5px 0 10px 0;
}

.detail .taskDescription {
  font-size: 0.9em;
}

.rightPane .placeholder {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}

.rightPane .placeholder .text {
  font-size: 1.2em;
  flex-grow: 100;
  text-align: center;
  font-weight: 600;
  color: #999;
}

.progressBar {
  display: flex;
  flex-direction: row;
  background: #C0C0C0;
  width: 100%;
  height: 5px;
  margin: 10px 0;
  border-radius: 20px;
}

.progressBar > .progress {
  background: #3B99FC;
  width: 90%;
  border-radius: 20px;
}
