/* Split pane */
div.splitPane {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  /*box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);*/
}

.splitPane > .leftPane {
  border-right: 1px solid #CCC;
  overflow: auto;
  min-width: 300px;
  max-width: 300px;
  box-sizing: border-box;
}

.splitPane > .rightPane {
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
}